---
import CreateStories from '@assets/text/create-stories.svg';
import LineTopRight from '@assets/images/line1.svg';
import LineBottomLeft from '@assets/images/line2.svg';
import ContentNieTa from '@assets/text/content-nieta.svg';
import ContentNieTa744 from '@assets/text/content-nieta-744.svg';
import AssistantNieTa from '@assets/images/assistant-nieta.svg';
import Together from '@assets/text/together.svg';
---

<!-- createStories -->
<div class="absolute" id="createStories">
  <img
    src={CreateStories.src}
    alt="CreateStories"
    width={CreateStories.width}
    height={CreateStories.height}
    decoding="async"
    loading="lazy"
  />
</div>

<!-- lines -->
<div class="absolute" id="line-2-top-right">
  <img src={LineTopRight.src} alt="Line" decoding="async" loading="lazy" />
</div>

<!-- text -->
<div class="absolute" id="text-2">
  <img src={ContentNieTa.src} alt="ContentNieTa" decoding="async" loading="lazy" />
  <img src={ContentNieTa744.src} alt="ContentNieTa744" decoding="async" loading="lazy" />
</div>

<!-- assistantNieTa -->
<div class="absolute" id="assistantNieTa">
  <img src={AssistantNieTa.src} alt="AssistantNieTa" decoding="async" loading="lazy" />
</div>

<!-- lines -->
<div class="absolute" id="line-2-bottom-left">
  <img
    src={LineBottomLeft.src}
    alt="Line"
    width={LineBottomLeft.width}
    height={LineBottomLeft.height}
    decoding="async"
    loading="lazy"
  />
</div>

<!-- together -->
<div class="absolute" id="together">
  <img
    src={Together.src}
    alt="Together"
    width={Together.width}
    height={Together.height}
    decoding="async"
    loading="lazy"
  />
</div>

<style></style>

<script></script>
