---
import Assistant from '@assets/images/assistant-trains.png';
import LineTopRight from '@assets/images/line3.svg';
import LineBottomRight from '@assets/images/line4.svg';
import TrainsContent from '@assets/text/trains-new.svg';
import TrainsContent744 from '@assets/text/trains-744-new.svg';
import UploadModal from './UploadModal.astro';
import LineBottomLeft744 from '@assets/images/line7.svg';
import { Image } from 'astro:assets';
---

<!-- assistant -->
<div class="absolute" id="assistantTrains">
  <!-- <canvas class="canvas" id="pag3"></canvas> -->
  <Image src={Assistant} alt="Assistant" decoding="async" loading="lazy" id="trainsAssistant" />
</div>

<!-- lines -->
<div class="absolute" id="line-3-top-right">
  <Image src={LineTopRight} alt="LineTopRight" decoding="async" loading="lazy" />
</div>

<!-- text-img -->
<div class="absolute" id="text-4">
  <Image src={TrainsContent} alt="TrainsContent" decoding="async" loading="lazy" class="trains" />
  <Image src={TrainsContent744} alt="TrainsContent744" decoding="async" loading="lazy" class="trains" />
</div>

<!-- text-true -->
<div class="absolute" id="text-4-t">
  <span>捏Ta召集模型训练师，共创捏造快乐的玩具，让更多人为你的模型增加灵感</span>
</div>

<!-- button -->
<div class="absolute" id="button-upload">
  <!-- <UploadModal /> -->
</div>

<!-- lines -->
<div class="absolute" id="line-3-bottom-right">
  <Image src={LineBottomRight} alt="LineBottomRight" decoding="async" loading="lazy" />
  <Image src={LineBottomLeft744} alt="LineBottomLeft744" decoding="async" loading="lazy" />
</div>

<style>
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
</style>

<script>
  import UploadModalActive from '@assets/button/upload-active.svg';
  import UploadModalNormal from '@assets/button/upload.svg';
  const UploadModal = document.querySelector('#UploadModal') as HTMLImageElement;

  UploadModal?.addEventListener('mouseenter', () => {
    UploadModal.src = UploadModalActive.src;
  });

  UploadModal?.addEventListener('mouseleave', () => {
    UploadModal.src = UploadModalNormal.src;
  });
</script>
