---
import CreateStories from '@assets/text/create-stories.svg';
import LineTopRight from '@assets/images/line1.svg';
import LineBottomLeft from '@assets/images/line2.svg';
import ContentNieTa from '@assets/text/content-nieta.svg';
import AssistantNieTa from '@assets/images/assistant-nieta.svg';
import Together from '@assets/text/together.svg';
---

<!-- createStories -->
<div class="absolute top-0">
  <img
    src={CreateStories.src}
    alt="CreateStories"
    width={CreateStories.width}
    height={CreateStories.height}
    decoding="async"
    loading="lazy"
  />
</div>

<!-- lines -->
<div class="absolute right-[242px] top-[40px]">
  <img
    src={LineTopRight.src}
    alt="Line"
    width={LineTopRight.width}
    height={LineTopRight.height}
    decoding="async"
    loading="lazy"
  />
</div>

<!-- text -->
<div class="absolute left-[242px] top-[380px]">
  <img
    src={ContentNieTa.src}
    alt="ContentNieTa"
    width={ContentNieTa.width}
    height={ContentNieTa.height}
    decoding="async"
    loading="lazy"
  />
</div>

<div class="absolute right-[242px] top-[164px]">
  <img
    src={AssistantNieTa.src}
    alt="AssistantNieTa"
    width={ContentNieTa.width}
    height={ContentNieTa.height}
    decoding="async"
    loading="lazy"
  />
</div>

<!-- lines -->
<div class="absolute left-[246px] bottom-[40px]">
  <img
    src={LineBottomLeft.src}
    alt="Line"
    width={LineBottomLeft.width}
    height={LineBottomLeft.height}
    decoding="async"
    loading="lazy"
  />
</div>

<div class="absolute right-0 bottom-0">
  <img
    src={Together.src}
    alt="Together"
    width={Together.width}
    height={Together.height}
    decoding="async"
    loading="lazy"
  />
</div>
