---
import NieTaContent from '@assets/text/content-nieta2.svg';
import Barrage from '@assets/images/barrage.svg';
---

<!-- text -->
<div class="absolute left-[246px] top-[80px]">
  <img
    src={NieTaContent.src}
    alt="NieTaContent"
    width={NieTaContent.width}
    height={NieTaContent.height}
    decoding="async"
    loading="lazy"
  />
</div>

<!-- barrage -->
<div class="absolute left-[246px] top-[328px]">
  <img src={Barrage.src} alt="Barrage" width={Barrage.width} height={Barrage.height} decoding="async" loading="lazy" />
</div>
