---
import CreateStories from '@assets/text/create-stories.svg';
import LineTopRight from '@assets/images/line1.svg';
import LineBottomLeft from '@assets/images/line2.svg';
import ContentNieTa from '@assets/text/content-nieta-new.svg';
import ContentNieTa744 from '@assets/text/content-nieta-744-new.svg';
import AssistantNieTa from '@assets/images/assistant-nieta.png';
import Together from '@assets/text/together.svg';
import { Image } from 'astro:assets';
---

<!-- createStories -->
<div class="absolute" id="createStories">
  <Image
    src={CreateStories}
    alt="CreateStories"
    width={CreateStories.width}
    height={CreateStories.height}
    decoding="async"
    loading="lazy"
  />
</div>

<!-- lines -->
<div class="absolute" id="line-2-top-right">
  <Image src={LineTopRight} alt="Line" decoding="async" loading="lazy" />
</div>

<!-- text-img -->
<div class="absolute" id="text-2">
  <Image src={ContentNieTa} alt="ContentNieTa" decoding="async" loading="lazy" />
  <Image src={ContentNieTa744} alt="ContentNieTa744" decoding="async" loading="lazy" />
</div>

<!-- text-true -->
<div class="absolute" id="text-2-t">
  <span>为你喜爱的角色创作故事，一捏演绎任何剧情。AI补充亿点细节，和万千捏造师催化脑洞，共创异想互动小世界。</span>
</div>

<!-- assistantNieTa -->
<div class="absolute" id="assistantNieTa">
  <!-- <canvas class="canvas" id="pag2"></canvas> -->

  <Image src={AssistantNieTa} alt="AssistantNieTa" decoding="async" loading="lazy" id="contentAssistant" />
</div>

<!-- lines -->
<div class="absolute" id="line-2-bottom-left">
  <Image
    src={LineBottomLeft}
    alt="Line"
    width={LineBottomLeft.width}
    height={LineBottomLeft.height}
    decoding="async"
    loading="lazy"
  />
</div>

<!-- together -->
<div class="absolute" id="together">
  <Image
    src={Together}
    alt="Together"
    width={Together.width}
    height={Together.height}
    decoding="async"
    loading="lazy"
  />
</div>

<style>
  @keyframes slideInLeft {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slideInRight {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes blindsIn {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
</style>
