---
import Text from '@assets/text/bottom-nieta-text.svg';
import Copyright from '@assets/images/copyright.svg';
---

<footer class="relative" style="background: #131B22;">
  <div class="absolute left-[242px] top-[20px]">
    <img src={Text.src} alt="Text" width={Text.width} height={Text.height} decoding="async" loading="lazy" />
  </div>
  <div class="absolute right-[242px] top-[24px]">
    <img
      src={Copyright.src}
      alt="Copyright"
      width={Copyright.width}
      height={Copyright.height}
      decoding="async"
      loading="lazy"
    />
  </div>
</footer>
