---
import Text from '@assets/text/bottom-nieta-text.svg';
import Copyright from '@assets/images/copyright.svg';
---

<footer class="relative" style="background: #131B22;">
  <!-- text -->
  <div class="absolute left-[242px] top-[20px]" id="text">
    <img src={Text.src} alt="Text" width={Text.width} height={Text.height} decoding="async" loading="lazy" />
  </div>

  <!-- copyright -->
  <div class="absolute right-[242px] top-[24px]" id="copyright">
    <img
      src={Copyright.src}
      alt="Copyright"
      width={Copyright.width}
      height={Copyright.height}
      decoding="async"
      loading="lazy"
    />
  </div>
</footer>

<style>
  @media (min-width: 1440px) and (max-width: 1919px) {
    #text {
      left: 96px;
    }
    #copyright {
      right: 96px;
    }
  }
</style>
