---
import Logo from '@assets/images/logo.png';
import NieTaText from '@assets/text/nieta.svg';
import TopRightLine from '@assets/images/line.svg';
import Assistant from '@assets/images/assistant.svg';
import TextContent from '@assets/text/text.svg';
import NieTaBottomText from '@assets/text/bottom-nieta.svg';
import JoinCommunityButton from './JoinCommunityButton.astro';
import StartNieTaButton from './StartNieTaButton.astro';
import BottomRightLine from '@assets/images/line5.svg';
import BottomLeftLine from '@assets/images/line6.svg';
---

<header
  class="relative"
  style="background: linear-gradient(156deg, #151a31 0%, #191e37 14.73%, #12172c 35.15%, #0d1317 76.29%);"
>
  {/* logo */}
  <div class="flex items-center absolute" id="logo">
    <img src={Logo.src} alt="Logo" decoding="async" loading="lazy" />
    <img src={NieTaText.src} alt="NieTa" decoding="async" loading="lazy" />
  </div>

  {/* lines */}
  <div class="absolute" id="line-1-top-right">
    <img src={TopRightLine.src} alt="Line" decoding="async" loading="lazy" />
  </div>

  {/* assistant */}
  <div class="absolute" id="assistant">
    <img src={Assistant.src} decoding="async" loading="lazy" alt="assistant" />
  </div>

  {/* text content */}
  <div class="absolute" id="text">
    <img src={TextContent.src} alt="text" decoding="async" loading="lazy" />
  </div>

  {/* two buttons */}
  <div class="flex absolute" id="buttons">
    <JoinCommunityButton />
    <StartNieTaButton />
  </div>

  {/* nieta text */}
  <div class="absolute" id="bottom-nieta">
    <img src={NieTaBottomText.src} alt="NieTaBottomText" decoding="async" loading="lazy" class="bottom-nieta" />
  </div>

  <!-- lines -->
  <div class="absolute" id="line-1-bottom-right">
    <img src={BottomRightLine.src} alt="bottomaddline" class="bottomaddline" />
  </div>

  <div class="absolute" id="line-1-bottom-left">
    <img src={BottomLeftLine.src} alt="BottomLeftLine" />
  </div>
</header>

<style></style>

<script>
  import joinCommunityActive from '@assets/button/join-community-active.svg';
  import JoinCommunityNormal from '@assets/button/join-community.svg';
  import startNietaActive from '@assets/button/start-nieta-active.svg';
  import startNietaNormal from '@assets/button/start-nieta.svg';
  const startNietTa = document.querySelector('#StartNieTa') as HTMLImageElement;
  const joinCommunity = document.querySelector('#JoinCommunity') as HTMLImageElement;
  joinCommunity?.addEventListener('mouseenter', () => {
    joinCommunity.src = joinCommunityActive.src;
  });

  joinCommunity?.addEventListener('mouseleave', () => {
    joinCommunity.src = JoinCommunityNormal.src;
  });

  startNietTa?.addEventListener('mouseenter', () => {
    startNietTa.src = startNietaActive.src;
  });

  startNietTa?.addEventListener('mouseleave', () => {
    startNietTa.src = startNietaNormal.src;
  });
</script>
