---
import Logo from '@assets/images/logo.svg';
import NieTaText from '@assets/text/nieta.svg';
import TopRightLine from '@assets/images/line.svg';
import Assistant from '@assets/images/assistant.png';
import TextContent from '@assets/text/text.svg';
import NieTaBottomText from '@assets/text/bottom-nieta.svg';
import JoinCommunityButton from './JoinCommunityButton.astro';
import StartNieTaButton from './StartNieTaButton.astro';
import BottomRightLine from '@assets/images/line5.svg';
import BottomLeftLine from '@assets/images/line6.svg';
import StartNietaQrCodeFrameWork from '@assets/qrcode/qrcode-framework-1.svg';
import JoinCommunityQrCodeFrameWork from '@assets/qrcode/qrcode-framework-2.svg';
import StartNietaQrCode from '@assets/qrcode/start-nieta-qrcode.png';
import JoinCommunityQrCode from '@assets/qrcode/join-nieta-qrcode.png';
import { Image } from 'astro:assets';
---

<header
  class="relative"
  style="background: linear-gradient(156deg, #151a31 0%, #191e37 14.73%, #12172c 35.15%, #0d1317 76.29%);"
  id="nieta-header"
>
  {/* logo */}
  <div class="w-full" id="navbar">
    <div class="flex items-center fixed" id="logo">
      <Image src={Logo} alt="Logo" decoding="async" loading="lazy" />
      <Image src={NieTaText} alt="NieTa" decoding="async" loading="lazy" />
    </div>
  </div>

  {/* lines */}
  <div class="absolute" id="line-1-top-right">
    <Image src={TopRightLine} alt="Line" decoding="async" loading="lazy" />
  </div>

  {/* assistant */}
  <div class="absolute" id="assistant">
    <!-- assistant pag -->
    <canvas class="canvas" id="pag1"></canvas>

    <Image src={Assistant} decoding="async" loading="lazy" alt="assistant" id="headerAssistant" />
  </div>

  {/* text content */}
  <div class="absolute" id="text">
    <Image src={TextContent} alt="text" decoding="async" loading="lazy" />
  </div>

  {/* two buttons */}
  <div class="flex absolute" id="buttons">
    <JoinCommunityButton />
    <StartNieTaButton />
  </div>

  <!-- two qr code hover -->
  <div class="absolute" id="qr-code-framework-1">
    <Image src={StartNietaQrCodeFrameWork} alt="StartNietaQrCodeFrameWork" />
  </div>

  <div class="absolute" id="qr-code-framework-2">
    <Image src={JoinCommunityQrCodeFrameWork} alt="JoinCommunityQrCodeFrameWork" />
  </div>

  <div class="absolute" id="qr-code-1">
    <Image src={StartNietaQrCode} alt="StartNietaQrCode" />
  </div>

  <div class="absolute" id="qr-code-2">
    <Image src={JoinCommunityQrCode} alt="JoinCommunityQrCode" />
  </div>

  {/* nieta text */}
  <div class="absolute" id="bottom-nieta">
    <Image src={NieTaBottomText} alt="NieTaBottomText" decoding="async" loading="lazy" class="bottom-nieta" />
  </div>

  <!-- lines -->
  <div class="absolute" id="line-1-bottom-right">
    <Image src={BottomRightLine} alt="bottomaddline" class="bottomaddline" />
  </div>

  <div class="absolute" id="line-1-bottom-left">
    <Image src={BottomLeftLine} alt="BottomLeftLine" />
  </div>
</header>

<style>
  /* 线条从右向左渐变出现 */

  #line-1-top-right,
  #line-1-bottom-right,
  #text,
  #buttons {
    animation: slideInLeft 0.5s ease-in-out;
  }

  #text {
    animation: shake 2s linear;
  }

  /* logo直接出现 */
  #logo {
    animation: fadeIn 1s ease-in-out;
  }

  /* assistant以百叶窗方式出现 */
  #assistant {
    animation: blindsIn 1s ease-in-out;
  }
  @keyframes shake {
    0% {
      transform: translateX(0);
    }
    20% {
      transform: translateX(-5px);
    }
    40% {
      transform: translateX(5px);
    }
    60% {
      transform: translateX(-5px);
    }
    80% {
      transform: translateX(5px);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes slideInLeft {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes blindsIn {
    0% {
      height: 0;
      opacity: 0;
    }
    50% {
      height: 100%;
      opacity: 0.5;
    }
    100% {
      height: 100%;
      opacity: 1;
    }
  }
</style>

<script>
  import joinCommunityActive from '@assets/button/join-community-active.svg';
  import JoinCommunityNormal from '@assets/button/join-community.svg';
  import startNietaActive from '@assets/button/start-nieta-active.svg';
  import startNietaNormal from '@assets/button/start-nieta.svg';
  const startNietTa = document.querySelector('#StartNieTa') as HTMLImageElement;
  const joinCommunity = document.querySelector('#JoinCommunity') as HTMLImageElement;
  const startNieTaFrameWork = document.querySelector('#qr-code-framework-1') as HTMLDivElement;
  const startNieTaQrCode = document.querySelector('#qr-code-1') as HTMLImageElement;
  const joinCommunityFrameWork = document.querySelector('#qr-code-framework-2') as HTMLDivElement;
  const joinCommunityQrCode = document.querySelector('#qr-code-2') as HTMLImageElement;
  // navbar
  window.addEventListener('scroll', function () {
    var navbar = document.getElementById('navbar')!;
    var headerHeight = document.getElementById('navbar')?.offsetHeight!;
    var scrollTop = window.pageYOffset || document.documentElement.scrollTop;
    if (scrollTop >= headerHeight / 2) {
      navbar.style.backgroundColor = '#131B22';
      navbar.style.boxShadow = 'rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px';
    } else {
      navbar.style.backgroundColor = '';
      navbar.style.boxShadow = '';
    }
  });

  joinCommunity?.addEventListener('mouseenter', () => {
    joinCommunity.src = joinCommunityActive.src;
    joinCommunityFrameWork.style.display = 'block';
    joinCommunityQrCode.style.display = 'block';
  });

  joinCommunity?.addEventListener('mouseleave', () => {
    joinCommunity.src = JoinCommunityNormal.src;
    setTimeout(() => {
      joinCommunityFrameWork.style.display = 'none';
      joinCommunityQrCode.style.display = 'none';
    }, 500);
  });

  startNietTa?.addEventListener('mouseenter', () => {
    startNietTa.src = startNietaActive.src;
    startNieTaFrameWork.style.display = 'block';
    startNieTaQrCode.style.display = 'block';
  });

  startNietTa?.addEventListener('mouseleave', () => {
    startNietTa.src = startNietaNormal.src;
    setTimeout(() => {
      startNieTaFrameWork.style.display = 'none';
      startNieTaQrCode.style.display = 'none';
    }, 500);
  });
</script>
